{% if page_obj.paginator.num_pages > 1 %}
<div class="pager">
  {% if page_obj.has_previous %}<a class="btn btn-secondary" href="?{{ base_qs }}{% if base_qs %}&amp;{% endif %}page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-left"></i> Previous</a>{% else %}<span></span>{% endif %}
  <span class="pager-info">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
  {% if page_obj.has_next %}<a class="btn btn-secondary" href="?{{ base_qs }}{% if base_qs %}&amp;{% endif %}page={{ page_obj.next_page_number }}">Next <i class="bi bi-chevron-right"></i></a>{% else %}<span></span>{% endif %}
</div>
{% endif %}
